ANGULAR_ENVIRONMENT=production
AWS_REGION=us-east-1
ECS_TASK_DEFINITION=task-definition.json
CONTAINER_NAME=XXX
DEPLOYMENT_BUILD_RELEASE_NO=XXX
ECR_REPOSITORY=XXX
AWS_S3_BUCKET=XXX
AWS_CF_DISTRIBUTION=XXX
ECS_SERVICE=XXX
ECS_CLUSTER=XXX
ECS_TASK_DEFINITION_NAME=XXX