@let pageContent = $pageContent();
<section class="data-management-container grid-container gap-4 display-flex flex-column">
  @if (pageContent) {
  <section aria-label="Data Management Heading" role="region"
    class="data-management-banner width-full display-flex usa-prose flex-align-start flex-column">

    <!-- Data Views -->
    <h1 class="margin-0" i18n>{{ pageContent.title }}</h1>
    <p class="margin-top-1 measure-4" i18n>{{ pageContent.description }}</p>
    <a href="https://weisscenter.gitbook.io/weisscenter/user-guide/data-views" target="_blank"
      aria-label="Learn More (opens in a new tab)" class="usa-link margin-top-05 display-flex flex-align-center">
      <span aria-hidden="true" class="font-xs">{{pageContent.learn_more_link}}<i aria-hidden="true"
          class="far fa-external-link margin-left-05" role="img" alt=""></i></span>
    </a>

  </section>
  }


  <adapt-list-view (createButtonClick)="dataViewModal?.open()" [visibleRef]="visibleViewsRef"
    [actionRef]="actionViewsRef" [collapsedRef]="collapsedViewsRef" [$reports]="$reports" [$dataViews]="$dataViews"
    [dataViewModal]="dataViewModal" [dataList]="$currentDataList" currentList="views" [loadingRef]="loadingViewsRef">
  </adapt-list-view>

  <!-- <router-outlet (activate)="onRouterOutletActivate($event)"></router-outlet> -->
</section>

<adapt-right-side-panel #filterPanel>
  <ng-container body>
    @if (showFilterPanel) {
    <form [formGroup]="viewFilterGroup" class="display-flex flex-column margin-top-1 gap-3">
      <lib-adapt-multi-select (applyFn)="doFiltering()" [label]="'Status'" [originalItems]="originalFilters.status"
        [selectID]="'data-filter-status'" formControlName="status" [items]="statusFilterItems" itemLabel="label"
        itemAccessor="value"></lib-adapt-multi-select>
    </form>
    }
  </ng-container>

  <ng-container footer>
    <p class="usa-prose margin-y-0 font-sm line-height-2">Hit apply to save your changes.</p>
    <div class="display-flex gap-2">
      <button type="button" class="usa-button" (click)="toggleFilterPanel(); doFiltering()">Apply</button>
      <button type="button" (click)="viewFilterGroup.reset(); doFiltering()" class="usa-button usa-button--unstyled">
        Reset
      </button>
      <button type="button" class="usa-button usa-button--unstyled" (click)="toggleFilterPanel()">Cancel</button>
    </div>
  </ng-container>
</adapt-right-side-panel>

<ng-template #visibleViewsContent let-item>
  <h3 class="usa-prose margin-0">
    <a tabindex="0" [attr.aria-label]="'View ' + item.name" (keydown.enter)="dataViewModal?.open(item, true)"
      (click)="dataViewModal?.open(item, true)"
      class="margin-bottom-1 text-primary cursor-pointer text-semibold display-inline-flex width-auto">{{ item.name
      }}</a>
  </h3>
  <p class="text-normal font-sm margin-bottom-1 text-ink">
    {{ item.description || 'No description provided' }}
  </p>
  <div class="display-flex flex-column width-full gap-1">
    @if (item.status) {
    <p class="text-normal font-sm text-ink">
      <span><strong>Last Updated:</strong> {{ item.updated | date : 'MM/dd/yyyy' }}, </span>
      <span><strong>Created By:</strong> {{ item.author }}</span>
    </p>
    }
    <div class="display-flex gap-1 flex-wrap">
      <lib-adapt-tag [status]="item.status">
        <!-- <ng-container [ngSwitch]="view.status">
          <ng-container *ngSwitchCase="'AVAILABLE'">
            <i class="fal fa-check" role="img" aria-hidden="true"></i>
          </ng-container>
          <ng-container *ngSwitchCase="'REQUESTED'">
            <i class="fal fa-list-alt" role="img" aria-hidden="true"></i>
          </ng-container>
          <ng-container *ngSwitchCase="'MISSING DATA'">
            <i class="fal fa-exclamation-circle" role="img" aria-hidden="true"></i>
          </ng-container>
          <ng-container *ngSwitchCase="'PROCESSING'">
            <i class="fal fa-spinner" role="img" aria-hidden="true"></i>
          </ng-container>
          <ng-container *ngSwitchDefault></ng-container>
        </ng-container> -->
        {{ item.status ?? 'Not pulled yet' | titlecase }}
      </lib-adapt-tag>
      <!-- <span
      class="usa-tag bg-base-lightest text-ink"
        [ngClass]="{
          'bg-success-light': item.status === 'AVAILABLE',
          'bg-warning-lighter': item.status === 'PROCESSING',
          'bg-error-lighter': item.status === 'MISSING DATA'
        }">
      <ng-container [ngSwitch]="item.status">
        <ng-container *ngSwitchCase="'AVAILABLE'">
          <i class="fal fa-check" role="img" aria-hidden="true"></i>
        </ng-container>
        <ng-container *ngSwitchCase="'REQUESTED'">
          <i class="fal fa-list-alt" role="img" aria-hidden="true"></i>
        </ng-container>
        <ng-container *ngSwitchCase="'MISSING DATA'">
          <i class="fal fa-exclamation-circle" role="img" aria-hidden="true"></i>
        </ng-container>
        <ng-container *ngSwitchCase="'PROCESSING'">
          <i class="fal fa-spinner" role="img" aria-hidden="true"></i>
        </ng-container>
        <ng-container *ngSwitchDefault></ng-container>
      </ng-container>
    </span> -->
    </div>
  </div>
</ng-template>

<ng-template #collapsedViewsContent let-item>
  <adapt-impact-analysis [name]="item.name" [reports]="$reports" type="DataView"
    [id]="item.dataViewID"></adapt-impact-analysis>
</ng-template>

<ng-template #actionViewsContent let-item>
  <div class="display-flex gap-1 flex-wrap width-full">
    <button type="button" class="usa-button" (click)="viewDataView(item)">View</button>

    <button (click)="editDataView(item)" type="button" class="usa-button usa-button--outline shadow-none"
      [id]="'edit_' + item.dataViewID + '_btn'">
      Edit
    </button>
    <button [disabled]="item.status !== 'AVAILABLE'" type="button" class="usa-button usa-button--outline shadow-none"
      [routerLink]="['..', 'reports']" [state]="{ dataView: item }">
      Create Report
    </button>
    <button type="button" [disabled]="item.status !== 'AVAILABLE'" [id]="'reload_data_' + item.dataViewID + '_btn'"
      class="usa-button usa-button--outline shadow-none" (click)="editDataView(item, 1)">
      Reload Data
    </button>
    <button type="button" class="usa-button usa-button--outline shadow-none" adaptPreviewCategory="removeViewBtn"
      [id]="'remove_' + item.dataViewID + '_btn'" adaptPreview adaptPreviewVersion="1.0.0">
      Remove
    </button>
  </div>
</ng-template>

<ng-template #loadingViewsContent let-item>
  <div class="display-flex flex-align-center gap-1">
    <div class="loader"></div>
    <p class="usa-prose" i18n>Loading data views...</p>
  </div>
</ng-template>

@if (filterStateMessage) {
<div aria-live="polite" id="filterStateMessage" class="visually-hidden">
  {{ filterStateMessage }}
</div>
}
@if (filterStateMessage) {
<div aria-live="polite" id="filterStateMessage" class="visually-hidden">
  {{ filterStateMessage }}
</div>
}
<adapt-data-view-modal (closed)="onClose($event)"></adapt-data-view-modal>