<section
  role="region"
  aria-label="Data Management Table"
  class="adapt-list-view display-flex flex-column gap-1 width-full">
  <div
    class="display-flex flex-column tablet:flex-row flex-justify flex-align-start tablet:flex-align-center width-full margin-bottom-3 gap-2">
    @if (dataListTap | async | paginate : page : pageSize; as items) {
      <h2 #recordsDisplay class="font-family-body font-sm line-height-5 text-normal" id="showing" aria-live="polite">
        Showing up to
        <select
          [(ngModel)]="pageSize"
          (ngModelChange)="onPageSizeChange()"
          aria-labelledby="showing"
          class="usa-select margin-x-1 width-auto display-inline"
          name="options"
          id="options">
          <option [value]="5">5</option>
          <option [value]="10">10</option>
          <option [value]="25">25</option>
          <option [value]="50">50</option>
        </select>
        of {{ totalItems }} items
      </h2>
    }

    <div class="display-flex gap-2 flex-wrap flex-align-center">
      <button
        (click)="doSort()"
        type="button"
        class="usa-button flex-column usa-button--outline shadow-none width-auto align-self-start">
        <i class="fal {{ icon() }}" aria-hidden="true" role="img" alt=""></i>
        {{ listViewContent ? listViewContent.actions[0] : 'Sort' }}
      </button>
      @if (currentList === 'views') {
        <button type="button" (click)="toggleFilterPanel()" id="filterPanelButton" class="usa-button usa-button--outline shadow-none width-auto align-self-start flex-column">
          <i class="fal fa-filter" aria-hidden="true" role="img" alt=""></i>
          {{ listViewContent ? listViewContent.actions[1] : 'Filter' }}
        </button>
      }
      <button
        class="usa-button width-auto align-self-start"
        (click)="createButtonClick.emit()"
        *adaptAccessControl="
          'Data Sources';
          behavior: 'hide';
          action: 'Write';
          extraCondition: currentList === 'sources'
        ">
        {{ listViewContent ? listViewContent.actions[2] : 'Create' }}
      </button>

      <button
        class="usa-button width-auto align-self-start"
        (click)="createButtonClick.emit()"
        *adaptAccessControl="
          'Data Views';
          behavior: 'hide';
          action: 'Write';
          extraCondition: currentList === 'sources';
          extraCondition: currentList === 'views'
        ">
        Create
      </button>
    </div>
  </div>

  @if (dataList | loading : 'Data list has been loaded' | async; as dataListLoaded) {
    <ng-container>
      <div
        id="contentLoadingIndicator"
        class="loading-wrapper"
        aria-live="polite"
        [attr.aria-busy]="dataListLoaded.loading">
        <ng-content select="[loading]"></ng-content>
        @if (loadingRef) {
          <ng-container [ngTemplateOutlet]="loadingRef"></ng-container>
        }
      </div>
    </ng-container>
    @if (dataListLoaded.value) {
      @switch (currentList) {
        @case ('users') {
          @for (
            item of dataListLoaded.value | sort : sortDirection : recentSortField | paginate : page : pageSize; track identify(item, 'username')) {
            <adapt-list-item-user
              [user]="item"
              [confirmEdit]="confirm"
              [confirmModal]="confirmModal"
            ></adapt-list-item-user>
          }
        }
        @default {
          @for (
            item of dataListLoaded.value | sort : sortDirection : recentSortField | paginate : page : pageSize; track identify(item)) {
            <adapt-list-item-data
              [listType]="currentList"
              [$reports]="$reports"
              [$dataViews]="$dataViews"
              [dataSourceModal]="dataSourceModal"
              [dataViewModal]="dataViewModal"
              [reportModal]="reportModal"
              [view]="item"
            [headingLvl]="'h3'"></adapt-list-item-data>
          }
        }
      }
    }
  }

  <lib-adapt-pagination [page]="page" [maxPages]="maxPages"></lib-adapt-pagination>
</section>

<adapt-report-modal #reportModal></adapt-report-modal>
