<aside class="display-flex minh-full height-viewport" [ngClass]="{ collapsed: nav_collapsed }"
  aria-label="App Sidebar Menu">
  <section class="sidebar-content display-flex gap-1 bg-white flex-column width-full padding-1">
    <button [attr.aria-expanded]="!nav_collapsed" type="button"
      class="usa-button gap-0 flex-column usa-button--outline shadow-none" id="expand-menu-button" (click)="toggleNav()"
      i18n>
      @if (nav_collapsed) {

        <i aria-hidden="true" class="fal fa-bars" role="img" alt=""></i>
        <span class="font-3xs"><span class="display-none tablet:display-inline">Open </span>Menu</span>
      
}

      @if (!nav_collapsed) {

        <i aria-hidden="true" class="fal fa-arrow-from-right" role="img" alt=""></i>
        <span class="font-3xs"><span class="display-none tablet:display-inline">Collapse </span>Menu</span>
      
}
    </button>

    <div class="sidebar-header">
      <div class="display-flex width-full padding-1 gap-1 flex-align-center flex-justify-center">
        @if (!logoIsSvg) {
          <img [src]="logoURL" class="logo" aria-hidden="true" alt="" />
        }
        @if (logoIsSvg) {
          <lib-adapt-inline-svg [src]="logoURL" [decorative]="true"
            svgClass="maxw-6 height-6 display-none desktop:display-flex"></lib-adapt-inline-svg>
        }
      </div>
    </div>

    <nav aria-label="primary" class="margin-top-1">
      <ul #navList role="menubar" aria-orientation="vertical" class="usa-icon-list display-flex flex-column gap-05">
        <li role="none">
          <a role="menuitem" routerLink="/admin" (click)="closeMenuOnNavigation()"
            [routerLinkActiveOptions]="{ exact: true }" routerLinkActive="active-nav hover:bg-primary-dark"
            class="usa-icon-list__item site-nav">
            <i aria-hidden="true" class="fal fa-home" role="img" alt=""></i>
            <span id="home"> Home </span>
          </a>
        </li>
        <li role="none">
          <a role="menuitem" routerLink="data-management" (click)="closeMenuOnNavigation()"
            routerLinkActive="active-nav hover:bg-primary-dark " class="usa-icon-list__item site-nav">
            <i aria-hidden="true" class="fal fa-database" role="img" alt=""></i>
            <span> Data </span>
          </a>
        </li>
        <li role="none">
          <a role="menuitem" routerLink="reports" (click)="closeMenuOnNavigation()"
            routerLinkActive="active-nav hover:bg-primary-dark " class="usa-icon-list__item site-nav">
            <i aria-hidden="true" class="fal fa-chart-line" role="img" alt=""></i>
            <span> Reports </span>
          </a>
        </li>
        <!-- <li role="none">
        <a role="menuitem" routerLinkActive="active-nav hover:bg-primary-dark" adaptPreview="true"
          adaptPreviewVersion="1.0.0" id="glossaryBtn" class="usa-icon-list__item site-nav">
          <i aria-hidden="true" class="fal fa-book"></i>
          <span> Glossary </span>
        </a>
      </li>
      <li role="none">
        <a role="menuitem" routerLinkActive="active-nav hover:bg-primary-dark" adaptPreview="true"
          adaptPreviewVersion="1.0.0" id="alertBtn" class="usa-icon-list__item site-nav">
          <i aria-hidden="true" class="fal fa-bell"></i>
          <span> Alerts </span>
        </a>
      </li> -->
      @if (this.role.hasPermission('Tool Settings', 'Read')) {
        <li role="none">
          <a routerLink="settings" role="menuitem" routerLinkActive="active-nav hover:bg-primary-dark" id="settingsBtn"
            class="usa-icon-list__item site-nav">
            <i aria-hidden="true" class="fal fa-cog" role="img" alt=""></i>
            <span> Settings </span>
          </a>
        </li>
      }
      <li role="none">
        <button role="menuitem" weissA11yToggle="ADAPT-a11y-center" class="usa-icon-list__item site-nav width-full">
          <i aria-hidden="true" class="fal fa-universal-access" role="img" alt=""></i>

          <span> Accessibility </span>
        </button>
      </li>
      <li role="none"></li>
      <li role="none">
        <a role="menuitem" rel="noopener noreferrer" href="https://github.com/WeissCenter/Weiss-ADAPT/issues"
          target="_blank" aria-label="Give Feedback (opens in a new tab)"
          class="usa-icon-list__item site-nav width-full">
          <i aria-hidden="true" class="fal fa-comment-alt-exclamation" role="img" alt=""></i>
          <span aria-hidden="true">
            Give Feedback <i aria-hidden="true" class="far fa-external-link margin-left-05" role="img" alt=""></i></span>
          </a>
        </li>
        <li role="none">
          <a role="menuitem" (keypress)="startSignout($event)" (click)="startSignout($event)" tabindex="0"
            class="usa-icon-list__item site-nav">
            <i aria-hidden="true" class="fal fa-sign-out" role="img" alt=""></i>
            <span> Sign Out </span>
          </a>
        </li>
      </ul>
    </nav>
    <span class="margin-top-auto display-flex width-full flex-justify-center">
      @if (!nav_collapsed) {
        <lib-adapt-inline-svg alt="ADAPT logo" [src]="openLogo"
        svgClass="display-flex width-15"></lib-adapt-inline-svg>
      }
      @if (nav_collapsed) {
        <lib-adapt-inline-svg alt="ADAPT logo" [src]="collapsedLogo"
        svgClass="display-flex width-5"></lib-adapt-inline-svg>
      }
    </span>
  </section>
</aside>

<lib-adapt-modal closeText="Close" heading="Are you sure you want to sign out?" #confirmLogOut>
  <div class="confirm-modal-body display-flex flex-column gap-2 padding-1">
    <div class="confirm-modal-footer padding-1 display-flex gap-2">
      <button class="usa-button" (keydown.enter)="signOut($event)" (click)="signOut($event)">Sign out</button>
      <button class="usa-button usa-button--unstyled" (keydown.enter)="cancelLogout($event)"
        (click)="cancelLogout($event)">
        Cancel
      </button>
    </div>
  </div>
</lib-adapt-modal>
