@if ($footerContent()) {
<footer
  class="usa-footer usa-footer--slim flex-column tablet:flex-row bg-white display-flex flex-justify-center flex-align-end gap-6 margin-top-5 padding-x-2 padding-y-6">
  <nav class="display-flex flex-column width-full flex-justify-center gap-2 maxw-tablet" aria-label="Footer Links">
    <ul
      class="usa-list usa-list--unstyled display-flex gap-4 tablet:flex-row flex-justify-center width-full flex-wrap text-center flex-column flex-wrap flex-align-end">
      <li>
        <div class="display-flex flex-justify-center gap-1 flex-column">
          <a target="_blank" class="display-flex flex-justify-center" aria-label="External link to Weiss homepage"
            href="http://weissta.org/">
            <lib-adapt-inline-svg [decorative]="true" [focusable]="false" src="assets/shared/logos/static/footer-logo__left.svg"
              svgClass="display-flex logo height-7"></lib-adapt-inline-svg>
            </a>
          </div>
        </li>
      <li>
        <div class="display-flex flex-justify-center gap-1 flex-column">
          <p class="font-2xs text-ink line-height-2 text-center">{{$footerContent()?.technologyBy}}</p>
          <a target="_blank" class="display-flex flex-justify-center" aria-label="External link to AEM's homepage"
            href="https://www.aemcorp.com/">
            <lib-adapt-inline-svg [decorative]="true" [focusable]="false" src="assets/shared/logos/static/footer-logo__right.svg"
              svgClass="display-flex logo height-7"></lib-adapt-inline-svg>
            </a>
          </div>
        </li>
      </ul>
      <p class="font-xs text-ink text-center">© {{ year }} <span [innerHtml]="copyrightText | okina"></span> All Rights Reserved.</p>
    </nav>
  </footer>
}
