<div class="usa-overlay"></div>
<header class="usa-header usa-header--basic">
  <div class="usa-nav-container">
    <div class="usa-navbar">
      <div class="usa-logo">
        <a routerLink="">
          <lib-adapt-inline-svg
            media="(min-width: 64em)"
            alt="ADAPT logo"
            src="assets/shared/logos/static/login-header-logo__desktop.svg"
            svgClass="display-flex width-card-lg"></lib-adapt-inline-svg>
          <lib-adapt-inline-svg
            media="(max-width: 63.99em)"
            alt="ADAPT logo"
            src="assets/shared/logos/static/login-header-logo__mobile.svg"
            svgClass="display-flex width-6"></lib-adapt-inline-svg>
        </a>
      </div>
      <button type="button" class="usa-menu-btn" i18n>
        <i class="fas fa-bars" aria-hidden="true"></i>
        Menu
      </button>
    </div>
    <nav aria-label="Primary navigation" i18n-aria-label="Primary navigation" class="usa-nav" id="menu-navigation">
      <button type="button" class="usa-nav__close">
        <img src="/assets/usa-icons/close.svg" role="img" alt="Close" />
      </button>
      <ul class="usa-nav__primary usa-accordion">
        <!-- <li class="usa-nav__primary-item">
          <a href="/" i18n class="usa-nav-link"><span>Report Demo</span></a>
        </li>
        <li class="usa-nav__primary-item">
          <a href="/" i18n class="usa-nav-link"><span>Developer</span></a>
        </li>
        <li class="usa-nav__primary-item">
          <a href="/" i18n class="usa-nav-link"><span>Factsheet</span></a>
        </li> -->
        <li class="usa-nav__primary-item">
          <a
            href="https://www.weissta.org"
            aria-label="Weiss TA Website"
            title="opens in a new window"
            target="_blank"
            i18n
            class="usa-button"
            ><span>Weiss TA</span></a
          >
        </li>
      </ul>
    </nav>
  </div>
</header>
