<lib-adapt-alert></lib-adapt-alert>
<adapt-skip-to></adapt-skip-to>
<div class="usa-container display-flex position-relative main-container">
  <adapt-sidebar></adapt-sidebar>
  <div class="admin-content grid-col">
    <adapt-banner></adapt-banner>
    <adapt-inactivity-banner></adapt-inactivity-banner>
    <main id="main" class="display-flex width-full flex-column">
      <div class="grid-container width-full"><lib-adapt-breadcrumb></lib-adapt-breadcrumb></div>
      <router-outlet></router-outlet>
    </main>
    <adapt-footer></adapt-footer>
  </div>
</div>
<weiss-accessibility-center
  [position]="'start'"></weiss-accessibility-center>
