<section
  class="report-count-breakdown display-flex flex-column height-full bg-white width-full padding-3 border-base-lighter border flex-justify">
  @if (content) {
    <div class="report-count-breakdown-heading">
      <div class="report-count-breakdown-heading-text">
        <h3 class="font-sans-lg margin-0">{{ content['title'] }}</h3>
        <p>{{ content['description'] }}</p>
      </div>
    </div>
  }

  <table class="usa-table usa-table--borderless width-full">
    <thead>
      <tr>
        <th scope="col">{{ content['title'] }}</th>
        <th scope="col" i18n>Count</th>
        <th scope="col" i18n>Percent</th>
      </tr>
    </thead>
    <tbody>
      @for (item of content.data; track $index) {
        <tr>
          <th scope="row">{{ item[content.labelField] }}</th>
          <td>
            {{ item[content.countField] }}
          </td>
          <td>{{ getPercentage(content.data, item, 'StudentCount') }}%</td>
        </tr>
      }
    </tbody>
  </table>

  @if (content['caption']; as caption) {
    <div class="report-count-breakdown-caption">
      <p>{{ caption }}</p>
    </div>
  }
</section>
