<lib-adapt-alert></lib-adapt-alert>
<div class="usa-container display-flex position-relative main-container">
  <adapt-viewer-sidebar></adapt-viewer-sidebar>
  <div class="viewer-content display-flex flex-column grid-col">
    <adapt-top-banner></adapt-top-banner>
    <main id="main" class="display-flex height-full width-full flex-column">
      <div class="grid-container width-full">@if ($breadcrumbContent()) {
        <lib-adapt-breadcrumb
        [contentMap]="$breadcrumbContent()" [root]="$breadcrumbContent()?.home || ''"></lib-adapt-breadcrumb>
      }</div>
      <router-outlet></router-outlet>
    </main>
    <adapt-viewer-footer class="margin-top-auto"></adapt-viewer-footer>
  </div>
</div>



<weiss-accessibility-center [languageMap]="$a11yContent()" [selectedLanguage]="language.$language()" [position]="'start'"></weiss-accessibility-center>